.text-muted {
    display: none!important;
}
.navbar-default{
    z-index:99;
}
.navbar-default .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #eb6864;
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus .navbar-auth>li>a:focus {
    color: #eb6864;

    background-color: #fff;
}
.sticky-top {
    /* position: fixed;  */
    /* right: 0; */
    /* left: 0; */
    
    /* top: 0; */
}