{%extends "registration/base.html"%} {% load bootstrap4 %} {% load static %} {% block content %}
<div class="container " style="background-color:#fff;">
  <div class="row p-0 m-0 text-center" >
      {% if form.errors %}
      <p> Password or Username is incorrect </p>
      {% endif %}
    <div class="mt-5" style="margin: 0 auto;">
      {% if form.errors %}
      <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="card border-primary mb-4" style="max-width:25rem;">

        <div class="card-header text-center">
          <h3 class="text-center" style="color:grey;font-size:15px;">Login to rate projects and get ideas.</h3>
        </div>
        <div class="card-body text-primary">
          <form action="/accounts/login/" method="post">
            {% csrf_token %} {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>
          <p style="color:grey;">Don't have an account?</p>
          <p style="color:grey;">By signing up, you agree to our Terms, Data Policy and Cookies Policy.</p>
          <a href="/accounts/register" class="btn btn-outline-primary btn-sm">Sign Up</a>
        </div>
      </div>

    </div>

  </div>


  <!-- ********************* -->

  <!-- <div class="row p-0 m-0 text-center" >
    <div style="margin: 0 auto;"">

      <div class="card mt-5" style="width: 28rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Don't have an account?</h5>
          <h2 style="color:grey;font-size:10px;">By signing up, you agree to our Terms, Data Policy and Cookies Policy.</h2>
          <a href="/accounts/register" class="btn btn-primary">Sign Up</a>
        </div>
      </div>
    </div> -->
{%endblock%}