<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-default sticky-top bg-white" role="navigation">
        <a class="navbar-brand" style="color:grey;" >Rateme &#x1F441;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex;justify-content: space-between;">
          
        <ul class="navbar-nav" >
            <li>
                <a class="pr-4" href="#" style="color:grey;">Trending<i class="fa fa-line-chart" aria-hidden="true"></i></a>
            </li>
            <li>
            <a class=' float-right pr-4' href="/accounts/login">Login</a>
            </li>
            <li>
            <a class=' float-right pr-4' href="/accounts/register">Register</a>
            </li>
        </ul>
    
          <!-- Collect the nav links, forms, and other content for toggling -->
      </nav>
</body>
</html>