{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                  {% if username.profile.image %}
                    <img src="{{username.profile.image.url}}" alt="" class="img-thumbnail">
                  {%else%}
                  <img src="/static/image/dummy.jpeg" alt="avatar" >
                  {% endif %}
                    <!-- <img src="{{username.profile.profilepic.url}}" alt=""/> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{user.username}}
                            </h5>
                            <h6>
                                {{user.email}}
                            </h6>
                            <a href="{%  url 'profile' %}"> 
                                <button class="profile-edit-btn mb-2" data-toggle="modal" data-target="#{{user.id}}">
                                    <span class="edittext">Edit Profile</span>
                                </button>
                            </a><br>
                            <a href="{%  url 'new_project' %}"> 
                                <button class="profile-edit-btn">
                                    <span class="edittext">Post</span>
                                </button>
                            </a>
                            <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                
            </div>
            
        </div>
            
       
        <div class="row d-flex justify-content-between">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br/>
                    <a href="">Bootsnipp Profile</a><br/>
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br/>
                    <a href="">Web Developer</a><br/>
                    <a href="">WordPress</a><br/>
                    <a href="">WooCommerce</a><br/>
                    <a href="">PHP, .Net</a><br/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.username}}{{user.id}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.username}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile.contact}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Bio</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile.bio}}</p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br/>
                                <p>Your detail description</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                <h3 class="modal-title" id="exampleModalLongTitle">{{user.username}}</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="text-center">
                                    <img src='{{username.profile.image.url}}' class="img-responsive" width=100% height=100% alt="Image">
                                </div>
                                <div class="text-center">
                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">{{user.email}}</p>
                                        <footer class="blockquote-footer">Web Developer and Designer </footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="modal-footer">
                                    {{form.media}}
                                <div class="form-group row">
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                                        <form  action="{%url 'profile'%}" method="post" enctype="multipart/form-data">
                                            {%csrf_token%}
                                        
                                            {% bootstrap_form form%}
                                            <input id="id_myfield" type="submit" class="btn btn-success btn-lg" value="Post">
                                        </form>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="modal fade" id="{{profile.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                <h3 class="modal-title" id="exampleModalLongTitle">{{user.username}}</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body"> -->
                                <!-- <div class="text-center">
                                    <img src='{{username.profile.image.url}}' class="img-responsive" width=100% height=100% alt="Image">
                                </div>
                                <div class="text-center">
                                    <blockquote class="blockquote text-center">
                                        <p class="mb-0">{{user.email}}</p>
                                        <footer class="blockquote-footer">Web Developer and Designer </footer>
                                    </blockquote>
                                </div> -->
                                <!-- <div class="form-group row">
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                                        <form  action="{%url 'profile'%}" method="post" enctype="multipart/form-data">
                                            {%csrf_token%}
                                        
                                            {% bootstrap_form form%}
                                            <input id="id_myfield" type="submit" class="btn btn-success btn-lg" value="Post">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="text-center">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </form>           
</div>
<footer id="sticky-footer" class="py-4 bg-white text-dark-50 border-top">
    
    <div class="container text-center">
        <small style="color:grey;">Copyright &copy; Rateme</small>
    </div>
  </footer>
{% endblock %}