{% extends 'base.html' %} {% load static %} {% load bootstrap4%} {% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

  <div class="jumbotron text-center" style="background-color:white;">

    <h1 class="h1" style="font-family: 'Grand Hotel', cursive; color:blue;font-size:70px;">Rateme &#x1F441;</h1>


  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img" src="{{project.image.url}}" alt="Bologna">
            <div class="card-img-overlay">
              <!-- <a href="{% url 'project' project.id %}" class="btn btn-light btn-sm">FRONTEND</a> -->
            </div>
            <div class="card-body">
              <h4 class="card-title">PROJECT NAME</h4>
              <small class=" cat">
                <a href="{{project.url}}"><i class="fa fa-eye" aria-hidden="true"></i></a> Live Demo
                <!-- <a href="{% url 'project' project.id %}"><i class="fa fa-info-circle" aria-hidden="true"></i> -->
                </a> More Info
              </small>
              <p class="card-text">{{project.details}}</p>
              
              <!-- <a href="{% url 'project' project.id %}"><buttton class="btn btn-outline-primary">View Project</buttton></a> -->
              
            </div>
            <div class="card-footer  d-flex justify-content-between bg-transparent border-top-0">
              <div class="views">{{project.posted}}
              </div>
              <div class="stats">
                  <a class=""> <i class="fa fa-reply"></i> Reply</a>
                  <a class=""> <i class="fa fa-heart"></i> Like</a>
              </div>   
            </div>
          </div>
  </div>
</div>

{% endblock %}